@page "/"
@attribute [Authorize]
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ItemFacade ItemFacade

<MudThemeProvider IsDarkMode="true" />
<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
       <DockManager></DockManager>
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>

@code {
   
}