@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                <NavMenu></NavMenu>
                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>
