@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<MudThemeProvider IsDarkMode="true" />

<div class="page">
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                <NavMenu></NavMenu>
                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}